body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: white;/*#fff;*/
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}

nav {
    margin-bottom:40px;
}

nav a {
    margin-right: 15px;
    color:rgb(216, 100, 32);
}

h1 {
    color: #3d3d3d;
}

h2 {
    color:darkgray;
}

hgroup {
    width: 80%;
    margin-top:40px;
    margin-bottom: 40px;
}

.header h1,h2 {
    display: inline-block;
}

.maintitle {
    text-align: left;
    width: 45%;
  }
  
.page {
    text-align: left;
  }
